@using Mvc5_ile_oyun_blog_sitesi.Models.entities
@using PagedList
@using PagedList.Mvc
@model IPagedList<tbl_bloglar>
@{
    ViewBag.Title = "blogdetay";
    Layout = "~/Views/Shared/_homelayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Bloglar</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/web/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/web/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/web/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/web/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/web/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/web/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Active
    * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="blog-page">

    

    <main class="main">
        
        <section id="blog-posts-2" class="blog-posts-2 section">
           
            <div class="container">
                
                <div class="row gy-5">
                    @foreach (var x in Model)
                    {
                        <div class="col-lg-4 col-md-6">
                            <article>

                                <div class="post-img">
                                    <img src="@x.BlogResim" alt="" class="img-fluid" style="height:250px">
                                </div>

                                <div class="meta-top">
                                    <ul>
                                        <li class="d-flex align-items-center"><a href="#">@x.tbl_kategoriler.KategoriAd</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-dot"></i> <a href="#"><time datetime="2022-01-01">Eklenmme Tarihi: @Convert.ToDateTime(x.BlogTarih).ToString("dd/MM/yyyy")</time></a></li>
                                    </ul>
                                </div>

                                <h2 class="title">
                                    <a href="/bloglar/blogiçerik/@x.BlogId">@x.BlogBaslik</a>
                                </h2>

                            </article>
                        </div><!-- End post list item -->

                    }
                    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("blogdetay", new { sayfa }))
                </div><!-- End blog posts list -->

            </div>

        </section><!-- /Blog Posts 2 Section -->
        <!-- Blog Pagination Section -->
      

    </main>

    

 

    <!-- Vendor JS Files -->
    <script src="~/web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/web/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/web/assets/vendor/aos/aos.js"></script>
    <script src="~/web/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/web/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/web/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/web/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/web/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

</body>