@model Mvc5_ile_oyun_blog_sitesi.Models.sınıflar.Class1
<section id="blog-posts" class="blog-posts section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        
        <h2>Son Atılan Bloglar</h2>
    </div><!-- End Section Title -->
    <div class="container">

        <div class="row gy-4">
          @foreach(var x in Model.blg) {
                <div class="col-md-6 col-lg-4">
                    <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
                        <a href="#" class="thumb d-block"><img src="@x.BlogResim" alt="Image" class="img-fluid rounded" style="height:250px"></a>

                        <div class="post-content">
                            <div class="meta">
                                <a href="#" class="cat">@x.tbl_kategoriler.KategoriAd</a> •
                                <span class="date">@Convert.ToDateTime(x.BlogTarih).ToString("dd/MM/yyyy")</span>
                            </div>
                            <h3 ><a href="/bloglar/blogiçerik/@x.BlogId" style="color:#1b33a5">@x.BlogBaslik</a></h3>
                            <p>
                                @x.BlogAciklama.Substring(0,100)<a href="/bloglar/blogiçerik/@x.BlogId"><span style="color:blue">.....</span></a>
                            </p>

                            
                        </div>
                    </div>
                </div>
          }



        </div>
    </div>
</section>
